{% extends "index.html" %}
{% block content %}
{% include "nav.html" %}
<main role="main">

        <div class="container-fluid no-padding bg-overlay-misc">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="caption">
                <h1 class="banner-style">Boots & Suits United, Inc.</h1>
                <h2 class="carousel-style">"Building the Bridge"</h2>
                <h2 class="carousel-style">About Us</h2></span>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid green-line">
      		<div class="col-md-12 green-line"></div>
      	</div>

        <div class="container">
          <div class="card-deck flex-md-equal">
            <div class="card box-shadow">
              <div class="card-body">
                <img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Barry Wilenson">
                <h2 class="banner-style">Barry Wilkinson</h2>
                <h3 class="carousel-style">President/Co-Founder</h3>
                <p class="lead text-black">Barry L. Wilkinson has spent the last 45
                  years serving the military services.   After retiring from 24
                  years of active duty in 1996 as an Air Force First Sergeant he
                  eventually returned to government service to work at the Offutt
                  AFB Airman & Family Readiness Center (A&amp;FRC) (formerly the
                  Family Support Center).   Barry spent the last 20 years overseeing
                  the Personal Financial Readiness Program, Casualty Support,
                  Department of Defense Transition Assistance Program (TAP),
                  and the Executive and Chiefs TAP until his retirement in
                  November 2017.   During his tenure at the A&amp;FRC he created
                  the Offutt AFB Career Fair in partnership with over 250 local,
                  national, and international companies.   He is the co-founder
                  of the Excel with a Mentor (EWAM) Program which is now a permanent
                  part of the newly founded non-profit “Boots & Suits United, Inc. Inc.”
                  </br>Barry holds a Bachelor’s Degree in Human Resources and
                  Associates in Personnel Management along with national
                  certification as an Accredited Financial Counselor (AFC®)
                  through the Association of Financial, Counseling, and
                  Planning Education (AFCPE).</p>
              </div>
            </div>

            <div class="card box-shadow">
              <div class="card-body">
                <img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Barry Wilenson">
                <h2 class="banner-style">Rafael Maldonado III</h2>
                <h3 class= "carousel-style">President/Co-Founder</h3>
                <p class="lead text-black">Rafael Maldonado III is a strategic senior
                leader and change agent with comprehensive strategic planning,
                business development and consulting experience in multiple industries.
                </br>Rafael is a retired Air Force veteran who served as a Security
                Specialist, Computer Operator, Chief Facilitator Non-Commissioned
                Officer Academy, and First Sergeant over the course of twenty-two
                years of service.  Upon retiring from military service Rafael has
                worked with fortune 500 and mid-level companies providing continuous
                consultation and training to associates, members of management staff,
                and executives relative to employee relations, compensation, benefits,
                staffing, and employment matters.  He served as the primary contact to
                members of senior management to create results that were legally sound
                and of minimal risk.  Rafael has also served as the liaison for the
                implementation of human resource programs, systems, and procedures to
                ensure that customer initiatives of the business units were met.
                Rafael is active in the community and is a member of multiple non-profit boards.
                </br>Rafael earned Master’s Degree from the University of Oklahoma
                in Human Relations.  He holds two Bachelor’s degrees in Human
                Resource Management and Business Administration.  He also holds
                two degrees from the Community College of the Air Force in Computer
                Science and Instructor Methodology.  Rafael is a Certified Compensation
                Professional (CCP) and a Senior Professional Human Resources (SPHR)</p>
            </div>
          </div>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="container">
        <div class="card-deck flex-md-equal">
          <div class="card box-shadow">
            <div class="card-body">
              <img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Barry Wilenson">
              <h2 class="banner-style">Ken Waters</h2>
              <h3 class="carousel-style">Director At Large</h3>
              <p class="lead text-black">Kenneth “Ken” Waters is a senior leader
              with comprehensive experience in talent acquisitions, business
              development and consultation in multiple industries with a privately
              -owned staffing and search firm.
              </br>Kenneth is a retired Air Force Veteran who served as a Services
              Specialist, Superintendent of Mortuary Affairs, Honor Guard, Readiness
              and First Sergeant over the course of twenty-two years of service.
              Upon retiring from military service Ken has worked with small through
              large businesses offering comprehensive services to help through any
              phase of the employment cycle from finding and selecting top talent
              to managing and developing employees, to assisting employees through
              a career transition.   He serves as a subject matter expert in the
              Light Industrial and Logistics Industry to senior management, assisting
              with executive recruiting and permanent or temporary staffing, in the
              Greater Omaha Area.  Ken serves as an appointed Advisory Council member
              for Nebraska Future Business Leaders of America (FBLA).
              </br>Ken earned his Bachelor’s Degree from Ashford University
              in Organizational Management.  He holds a degree from the Community
              College of the Air Force in Restaurant, Hotel and Fitness Management. </p>
            </span>
            </div>
          </div>

          <div class="card box-shadow">
            <div class="card-body">
              <img class="card-img-top" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Barry Wilenson">
              <h2 class="banner-style">Molly</h2>
              <h3 class="carousel-style">Secretary</h3>
              <p class="lead text-black">Molly is proud Veteran of the United States
              Air Force. Today, she is an employee benefits consultant with Gallagher
              and has been an insurance professional for over 10 years. Her path to
              her current career was not met without challenge. She lacked insight
              as she transitioned into the civilian workforce. She parlayed her
              challenges into passion – a passion for ensuring others are equipped
              to tackle new opportunities the civilian sector provides. Through
              her work with the Excel with a Mentor Program, she challenges our
              Veteran’s to be the best version of themselves as they transition.
              Through preparation, perspective and a strong network it is her hope
              that everyone who goes through the program leaves feeling empowered
              to show the world all they have to offer. </p>
          </div>
        </div>
      </div>
    </div>

  </main>
{% include "footer.html" %}
{% endblock %}
