{% extends "index.html" %}
{% block content %}
{% include "nav.html" %}

<main role="main" class="text-center">

    <div class="container-fluid no-padding bg-overlay-a">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="caption">
            <h1 class="banner-style">Boots & Suits United, Inc.</h1>
            <h2 class="carousel-style">"Building the Bridge"</h2>
            <h2 class="carousel-style">Advocacy</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid green-line">
  		<div class="col-md-12 green-line"></div>
  	</div>

    <div class="container-fluid bg-adv-img">
      <div class="row">
        <div class="text-center">
          <div class="caption">
            <h3 class="lead text-light text-center">Many military, veterans, and family members
              sometimes face an uphill battle to get important information,
              benefits, and actions from various government and community agencies.
              Our team of expert volunteers want to advocate on your behalf and
              break down the barriers so that you receive the services you are entitled.
              Many of our clients become very frustrated in “fighting the system”
              and give up prior to receiving satisfactory results.
              You will receive personal one on one service. </br></br>
              Please allow us to help!! We are a private non-profit organization
              and our services are completely FREE and CONFIDENTIAL!!!!
            </h3>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-dark text-center"></br></br>Some of the areas that we have extensive experience and may be able to assist are: </h2>
          <hr></hr>
        </div>
      </div>
    </div>

  <div class="container-fluid no-padding">
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-dark-basu  mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-black overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5 text-center text-light">Veterans Benefits</h2>
          <p class="lead text-light">
            <ul class="lead text-light">
              <li>Disability Ratings – Initial Filing, updating ratings, appeals</li>
              <li>Educational – GI Bill, Vocational Rehab</li>
              <li>Employment – Federal, State Government Preference</li>
              <li>Wounded Warrior – Resources, Events</li>
              <li>Counseling – Personal, Financial, Family and Children counseling</li>
              <li>VA Home Loans – How to qualify, limitations, benefits of VA Loans</li>
              <li>Survivor Benefits – What to know prior to leaving active duty and after your separation/retirement</li>
              <li>Long Term Care
              <li>Medical – VA Medical benefits for Veterans
            </ul>
          </p>
        </div>
        <div class="bg-light-basu box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
      <div class="bg-light-basu mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5 text-center text-black">Military, Veteran & Family Member Assistance</h2>
          <p class="lead text-black">
            <ul class="lead text-black">
              <li>Employment Assistance for Veterans, Spouses, other family members</li>
              <li>Educational benefits for family members (GI Bill, other federal and state programs, scholarships, etc.)</li>
              <li>Financial Literacy/Budget/Crisis Counseling</li>
              <li>Estate Planning</li>
              <li>Investment Counseling</li>
              <li>Family Counseling, i.e. Marital, Parenting</li>
              <li>Assisting Surviving Spouses & Children</li>
            </ul>
          </p>
        </div>
        <div class="bg-dark-basu box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>
    </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="bg-other-basu mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5 text-cnter text-black">Advocating within the Government</h2>
          <p class="lead text-black">We work with various agencies to improve your benefits, i.e., lobby local, state, and federal legislatures to continue our fight for expanding those benefits for veterans and family members.</p>
        </div>
        <div class="bg-light-basu box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
      </div>

    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h2 class="text-center text-dark"></br></br>Need help or just wish to talk?? Provide your “Contact” information and one of our personnel will be in touch!!  </h2>
        <hr></hr>
        <p><a href="advo-form.html" role="button" class="btn text-right btn-card">Contact Us</a></p>
      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}
