{% block content %}
<!--Navbar-->
<div class="collapse navbar-collapse" id="navbarSupportedContent20">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="excel.html">Excel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="advocacy.html">Advocacy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="community.html">Community Partnership</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Misc</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="awards.html">Awards & Recognition</a>
            <a class="dropdown-item" href="calendar.html">Calendar</a>
            <a class="dropdown-item" href="volunteer.html">Volunteer Opportunities</a>
            <a class="dropdown-item" href="contrib.html">Contributors</a>
            <a class="dropdown-item" href="pics.html">Photos</a>

            <a class="divider" role="seperator"></a>
            <a class="dropdown-item" href="aboutUs.html">About Us</a>
            <a class="dropdown-item" href="contact-us.html">Contact Us</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

    <!--Navbar-->
{% endblock %}
